body{
    background-color: gray;
}

.wrapper{
    width: 95%;
    min-height: 95vh;
    margin: 0 auto;
    background-color: rgba(255, 255,255, 0.6);
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0;
}

.piskelWrap{
    width: 700px;
    height: 500px;
    background-image: url(img/backForPiskel.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.piskel-animation-item{
    width: 170px;
    height: 150px;
    background-image: url(img/sk2.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 17px;
    right: 5px;
}